html {
    background: lightgreen;   
}

ul {
    list-style-type: none;   
}

li {
    display: inline;
    padding: 5%;
}

.yellow {
    color: yellow;
    font-size: 200%;
}

a {
    text-decoration: none;   
}
